.chatTab {
    width: 140px;
    height: 80px;
    border-radius: 40px 0 0 40px;
    border: 4px solid black;
    background-color: #413d4e;
    border-right: 0;
    margin-bottom: 20px;
}

.active {
    position: relative;
}

.circle {
    border-radius: 40px 40px 40px 40px;
    width: 70px;
    height: 70px;
    border: 5px solid red;
}

.characterName {
    margin: 20px 15px;
    color: white;
    font-weight: bold;
}
